<div class="ui fixed pointing borderless one item menu" ng-controller="MainMenuCtrl">
    <div class="ui container center aligned">
        <!--<a href="#/" class="item" ng-class="{active: segment === '/journeys'}">Journeys</a>-->
        <div href="#/" class="header item">Yololoy</div>
        <!--<a href="#/journeys" class="item" ng-class="{active: segment === '/journeys'}">Journeys</a>-->
        <div class="right">
            <a class="ui item button" ng-click="add()"><i class="plus icon"></i>Journey</a>
        </div>
    </div>
</div>