.main.container {
    padding-top: 7em;
}

.angular-google-map-container {
    height: 400px;
}

h1.journey-title {
    font-size: 3.7rem;
}

.ui.circular.segment.icon {
    padding: 1.1em;
}

.ui.circular.segment.link {
    cursor: pointer;
}

.ui.circular.segment.link>i {
    opacity: 0.7;
}

.ui.circular.segment.link:hover>i {
    opacity: 1;
}

.steps {
    padding: 50px;
}

.step-block {
    margin-top: 10px;
    position: relative;
}

.step-header {
    position: relative;
}

.step-notes p {
    font-size: 1.5rem;
}

.step-notes p:first-of-type {
    min-height: 115px;
    border-right: 3px dashed #999;
}

.dotted-divider {
    position: absolute;
}

.step-block .ui.circular.segment {
    margin: 0 auto;
    display: block;
}

.step-sm.circular.segment {
    width: 64px;
    height: 64px;
}

.step-md.circular.segment {
    width: 128px;
    height: 128px;
}

.step-lg.circular.segment {
    width: 256px;
    height: 256px;
}

.step-info {
    max-width: 40%;
    bottom: 20%;
    position: absolute;
}

.step-info.left {
    padding-right: 20px;
    left: 0%;
}

.step-info.right {
    padding-left: 20px;
    right: 0%;
}

.delete-step {
    top: 0;
    position: absolute;
    right: 0;
}