.roundicon-sm,
.roundicon-md,
.roundicon-lg {
    background-size: cover!important;
}

/* Small 64 */
.roundicon-sm.home {
    background-image: url(images/roundicons/64/home.png)
}
.roundicon-sm.plane {
    background-image: url(images/roundicons/64/plane.png)
}
.roundicon-sm.airport {
    background-image: url(images/roundicons/64/airport.png)
}
.roundicon-sm.bus {
    background-image: url(images/roundicons/64/bus.png)
}
.roundicon-sm.taxi {
    background-image: url(images/roundicons/64/taxi.png)
}
.roundicon-sm.accommodation {
    background-image: url(images/roundicons/64/accommodation.png)
}

/* Medium 128 */
.roundicon-md.home {
    background-image: url(images/roundicons/128/home.png)
}
.roundicon-md.plane {
    background-image: url(images/roundicons/128/plane.png)
}
.roundicon-md.airport {
    background-image: url(images/roundicons/128/airport.png)
}
.roundicon-md.bus {
    background-image: url(images/roundicons/128/bus.png)
}
.roundicon-md.taxi {
    background-image: url(images/roundicons/128/taxi.png)
}
.roundicon-md.accommodation {
    background-image: url(images/roundicons/128/accommodation.png)
}

/* Large 256 */
.roundicon-lg.home {
    background-image: url(images/roundicons/256/home.png)
}
.roundicon-lg.plane {
    background-image: url(images/roundicons/256/plane.png)
}
.roundicon-lg.airport {
    background-image: url(images/roundicons/256/airport.png)
}
.roundicon-lg.bus {
    background-image: url(images/roundicons/256/bus.png)
}
.roundicon-lg.taxi {
    background-image: url(images/roundicons/256/taxi.png)
}
.roundicon-lg.accommodation {
    background-image: url(images/roundicons/256/accommodation.png)
}