<div class="ui main text container center aligned" ng-init="list()">
    <div ng-include src="'templates/journeys/create-journey.html'"></div>
    <h1 class="align centered journey-title">{{journey.name}}</h1>
    <div class="ui three column centered grid">

        <div class="steps">

            <div ng-repeat="step in journey.steps" class="step-block two column centered row">

                <div class="step-header ui two column grid">
                    <div class="step-info left"> 13/01/2016 </div>
                    <div ng-class="step.type" class="ui circular segment step-sm roundicon-md step-picker inline dropdown">
                        <div class="menu">
                            <div ng-click="edit(step,{type:type.value})" class="item" ng-repeat="type in types" data-value="{{type.value}}">
                                <img class="ui avatar image" ng-src="/styles/images/roundicons/64/{{type.value}}.png"> {{type.name}}
                            </div>
                        </div>
                    </div>
                    <div class="delete-step">
                        <button class="ui right floated button mini" ng-click="delete(step)">
                            delete
                        </button>
                    </div>
                    <div class="step-info right"> Starting point </div>
                    <div class="ui horizontal divider">{{step.name || step.type}}</div>
                </div>

                <div class="step-notes ui two column grid">
                    <p class="column">Vivamus tristique, enim ut convallis tincidunt, tortor est molestie odio, a sodales urna enim vel odio. Phasellus efficitur turpis eu massa faucibus sodales.</p>
                    <p class="column">Nam in tortor eu nibh ultricies commodo eget a turpis. Integer a ante finibus, tempus sapien et, lobortis justo.</p>
                </div>

            </div>


            <div class="step-block two column centered row">
                <div class="step-header ui two column grid">
                    <div class="ui circular segment step-sm icon link step-picker inline dropdown">
                        <i class="ui icon plus large"></i>
                        <div class="menu">
                            <div ng-click="add({type:type.value})" class="item" ng-repeat="type in types" data-value="{{type.value}}">
                                <img class="ui avatar image" ng-src="/styles/images/roundicons/64/{{type.value}}.png"> {{type.name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>