<div class="ui main text container center aligned" ng-init="get()">
    <div ng-include src="'templates/journeys/create-journey.html'"></div>
    <h1 class="align centered">{{journey.name}}</h1>
    <div class="ui three column centered grid">

        <div class="spots">
            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm home roundicon-md"></div>
                    <div class="spot-info right"> Start </div>
                    <div class="ui horizontal divider">Home</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column">Vivamus tristique, enim ut convallis tincidunt, tortor est molestie odio, a sodales urna enim vel odio. Phasellus efficitur turpis eu massa faucibus sodales.</p>
                    <p class="column">Nam in tortor eu nibh ultricies commodo eget a turpis. Integer a ante finibus, tempus sapien et, lobortis justo.</p>
                </div>

            </div>

            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm bus roundicon-md"></div>
                    <div class="spot-info right"> $2.50 One way ticket </div>
                    <div class="ui horizontal divider">Bus to Airport</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column">Vivamus tristique, enim ut convallis tincidunt, tortor est molestie odio, a sodales urna enim vel odio. Phasellus efficitur turpis eu massa faucibus sodales.</p>
                    <p class="column"></p>
                </div>
            </div>

            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm plane roundicon-md"></div>
                    <div class="spot-info right"> $34 Return ticket </div>
                    <div class="ui horizontal divider">Dublin Airport</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column"></p>
                    <p class="column"></p>
                </div>
            </div>

            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm airport roundicon-md"></div>
                    <div class="ui horizontal divider">Amsterdam Airport</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column">Vivamus tristique, enim ut convallis tincidunt, tortor est molestie odio, a sodales urna enim vel odio. Phasellus efficitur turpis eu massa faucibus sodales.</p>
                    <p class="column"></p>
                </div>
            </div>

            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm taxi roundicon-md"></div>
                    <div class="spot-info right"> $22.50 Taxi </div>
                    <div class="ui horizontal divider">Taxi to accomodation</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column"></p>
                    <p class="column"></p>
                </div>
            </div>

            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="spot-info left"> 13/01/2016 </div>
                    <div class="ui circular segment spot-sm accommodation roundicon-md"></div>
                    <div class="spot-info right"> $25.00 Night/Person </div>
                    <div class="ui horizontal divider">Accommodation</div>
                </div>

                <div class="spot-notes ui two column grid">
                    <p class="column"></p>
                    <p class="column"></p>
                </div>
            </div>
            
            <div class="spot-block two column centered row">

                <div class="spot-header ui two column grid">
                    <div class="ui circular segment spot-sm icon link">
                        <i class="ui icon plus large"></i>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>