<div class="ui main text container" ng-controller="JourneyCtrl">

    <!-- Journey create/edit form -->

    <div id="journeyForm" class="ui page dimmer inverted" ng-class="{active:journeyForm.opened}">
        <div class="content">
            <div class="ui two column centered grid">
                <div class="column">
                    <form class="ui form">
                        <div class="field">
                            <div class="ui massive icon input">
                                <input type="text" placeholder="The Amazing Journey..." ng-model="journey.name">
                            </div>
                        </div>
                        <div class="field">
                            <button ng-click="create()" class="teal fluid massive ui button" ng-class="{disabled:journey.name.length===0}">
                                Create
                            </button>
                        </div>
                        <div class="field">
                            <button class="ui right floated button tiny" ng-click="close()">
                                cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Journey list -->

    <div ng-show="loading" style="position:relative;height:200px;">
        <div class="ui active medium text loader">Loading</div>
    </div>

    <div ng-show="!loading && journeys.length === 0" class="ui column centered grid message">
        <p>No journeys yet</p>
    </div>

    <div ng-hide="journeys.length === 0" class="ui segments">
        <div id="{{journey.id}}" ng-repeat="journey in journeys" class="ui clearing segment">
            <div class="ui right floated button mini" ng-click="delete(journey)">Remove</div>
            {{journey.name}}
        </div>
    </div>
</div>